<header class="l-header">
  <nav class="nav bd-grid">
      <div>
          <a href="#" class="nav__logo">
              <span style="color: #000000;">Traking</span><span style="color: #e9c54e;">()</span>
          </a>
      </div>
      
      <div class="nav__toggle" id="nav-toggle">
          <i class='bx bx-menu'></i>
      </div>

      <div class="nav__menu" id="nav-menu">
          <div class="nav__close" id="nav-close">
              <i class='bx bx-x'></i>
          </div>

          <ul class="nav__list">
              <li class="nav__item"><a href="https://2xqwwg3c-4200.brs.devtunnels.ms/login" class="nav__link active">Inicio</a></li>
              <li class="nav__item"><a href="#about" class="nav__link">Nosotros</a></li>
              <li class="nav__item"><a href="#contact" class="nav__link">Contactanos</a></li>
          </ul>
      </div>
  </nav>
</header>

<main class="l-main">
  <section class="home" id="home">
      <div class="home__container bd-grid">
          <div class="home__img">
              <img src="/assets/img6.png" alt="" data-speed="-2" class="move" style="width: 500px; height: 500px;">
              <img src="/assets/img3.png" alt="" data-speed="2" class="move" style="width: 500px; height: 500px;">
              <img src="/assets/img4.png" alt="" data-speed="-2" class="move" style="width: 500px; height: 500px;">
              <img src="/assets/img5.png" alt="" data-speed="-2" class="move" style="width: 500px; height: 600px;">
              <img src="/assets/img1.png" alt="" data-speed="2" class="move" style="width: 400px; height: 400px;">
          </div>

          <div class="home__data">
              <h1 class="home__title">
                  <span style="color: #000000;">Tracking</span><span style="color: #e9c54e;">()</span>
              </h1>
              <p class="home__description">Te ayudamos con el control de notas</p>
              <a href="#" class="home__button">Inicio</a>
          </div>
      </div>
  </section>
</main>