<!--<div style="text-align: center;">
  <h1>Login</h1>
  <input [(ngModel)]="input.username" placeholder="Username"><br>
  <input [(ngModel)]="input.password" type="password" placeholder="Password"><br>
  <button (click)="loginUser()">Login User</button>
</div>-->


<div class="container">
  <div class="header">
    <img src="/assets/logotrack.png" alt="Logo" class="logo">
    <h1 class="title">
      <span class="title-text">Tracking</span><span class="title-symbol">()</span>
    </h1>
    <h2 class="subtitle">Inicio de Sesión</h2>
  </div>
  <p class="description">Tracking() es tu asistente académico inteligente</p>
  <div class="login-form">
    <form (ngSubmit)="loginUser(loginForm)" #loginForm="ngForm">
      <input 
        [(ngModel)]="input.username" 
        name="username" 
        placeholder="Username" 
        class="input-field" 
        required
        #username="ngModel"
      ><br>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-message">
        El campo de usuario es obligatorio.
      </div>
      <input 
        [(ngModel)]="input.password" 
        name="password" 
        type="password" 
        placeholder="Password" 
        class="input-field" 
        required
        #password="ngModel"
      ><br>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
        El campo de contraseña es obligatorio.
      </div>
      <button 
        type="submit" 
        class="login-button" 
        [disabled]="loginForm.invalid"
      >
        Iniciar Sesión
      </button>
      <a routerLink="/signup" class="login-link">Registrarse</a>
    </form>
  </div>
</div>
<footer class="pie-pagina">
  <div class="grupo-1">
      <div class="box">
          <figure>
              <a href="#">
                  <!--<img src="/assets/LogoUnsa.png" alt="Logo UnsaShop">-->
              </a>
          </figure>
      </div>
      <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <p><b>Somos Estudiantes de La Universidad Nacional de San Agustín de Arequipa - Perú, cursando el tercer semestre de la carrera de Ingeniería de sistemas</b></p>
      </div>
      <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="https://facebook.com" class="fab fa-facebook" target="_blank" aria-label="Facebook"></a>
            <a href="https://instagram.com" class="fab fa-instagram" target="_blank" aria-label="Instagram"></a>
            <a href="https://twitter.com/UChop42973" class="fab fa-twitter" target="_blank" aria-label="Twitter"></a>
            <a href="https://www.youtube.com/channel/UC4fAfHG6sk1eTMGC-esHUxA" class="fab fa-youtube" target="_blank" aria-label="YouTube"></a>
        </div>
      </div>

  </div>
  <div class="grupo-2">
      <small>&copy; 2024 <b>Tracking()</b> - Todo los Derechos Reservados</small>
  </div>
</footer>
